@use "../../../assets/sass/index.scss" as *;

.online_Batches {
  h1 {
    @include heading_h1;

    letter-spacing: -2px;

    @media #{$xs} {
      font-size: var(--FontSize-Display-D1, 56px);
      line-height: var(--LineHeight-Display-D1, 64px); /* 114.286% */

      span {
        font-size: var(--FontSize-Display-D1, 56px);
        line-height: var(--LineHeight-Display-D1, 64px); /* 114.286% */
      }
    }
  }
  .batchDates{
    padding: 1rem;
    span{
        padding-left: 1.5rem
    }
  }
  
  p {
    @include p;
    padding-bottom: 32px;
    text-align: center;

    @media #{$xs} {
      font-size: var(--FontSize-Body-lg, 16px);
      line-height: var(--LineHeight-Body-lg, 24px); /* 150% */
      padding-bottom: 16px;
      margin-bottom: 0rem;
    }
  }

  #download {
    color: var(--Text-Highlited-Primary, #2540ae);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--LineHeight-Body-lg, 26px); /* 144.444% */
    letter-spacing: var(--LetterSpacing-Body-lg, 0px);
    padding-bottom: 0px;

    @media #{$xs} {
      font-size: var(--FontSize-Body-lg, 16px);
      line-height: var(--LineHeight-Body-lg, 24px); /* 150% */
    }
  }

  h6 {
    @include h6;
    @media #{$xs} {
      font-size: var(--FontSize-Body-lg, 16px);
    }
  }

  a {
    text-decoration: none;
    padding: 4px 8px;
    color: var(--Text-Highlited-Tertiary, #5166be);
    font-size: 14px;
    font-weight: 400;
    line-height: var(--LineHeight-Body-Sm, 22px); /* 157.143% */
    letter-spacing: var(--LetterSpacing-Body-Sm, 0px);
    @media #{$xs} {
      font-size: var(--FontSize-Body-lg, 12px);
    }
  }

  img {
    width: 100%;
  }

  h4 {
    @include h4;

    @media #{$xs} {
      font-size: var(--FontSize-Heading-H4, 20px);
      line-height: var(--LineHeight-Heading-H4, 28px); /* 140% */
    }
  }

  .icons {
    @extend .icons;
  }
}
