@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Responsive Variables
$xxxl: "only screen and (min-width:1900px) and (max-width:2600px)";
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Roboto";

  //   color: #111827;
}

.dashboard {
  height: 100vh;

  .header {
    padding: 0;
    background: #f9fafb;
    display: flex;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
    // box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    box-shadow: 2px 2px 10px #bbc4e6;
    gap: 10px;
    height: 4.75rem;

    h1 {
      color: #111827;
      letter-spacing: -0.25px;
      font-weight: 300;
    }
    .btn {
      font-size: 16px;
      width: 64px;
      height: 64px;
      color: #111827;
    }
    img {
      width: 10%;
    }
  }

  .sider {
    // overflow: 'auto';
    height: "100vh";
    position: "sticky";
    // insetInlineStart: 0,
    top: 0;
    bottom: 0;
    // scrollbarWidth: 'thin',
    // scrollbarGutter: 'stable',
    overflow-y: auto;
    background-color: #f9fafb;
    box-shadow: 2px 2px 10px #bbc4e6;

    &::-webkit-scrollbar {
      display: none;
    }
    ul {
      background-color: #f9fafb;
      li {
        list-style-type: none;
        color: white;
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 14px;
        color: #111827;
        &:hover {
          background-color: #2540ae !important;
          color: #f9fafb !important;
        }
        a {
          text-decoration: none;
          color: #111827;
          cursor: pointer;
          font-size: 0.8125rem;
          font-weight: 600;
          line-height: 1.5rem;

          &:hover {
            color: #f9fafb !important;
          }
        }
      }
    }
  }

  .content {
    overflow-y: auto;
    // height: 100vh;
    border: 0.0625rem solid #e4e9f2;
    border-radius: 16px;
    box-shadow: 2px 2px 10px #bbc4e6;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.dates {
  form {
    .labl {
      label {
        font-weight: 700;
      }
    }
  }
  h1 {
    padding-bottom: 1.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
  }
}

.stateCard {
  display: flex;
  width: 256px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  border-radius: var(--BorderRadius-XXXlg, 24px);
  border: 1px solid var(--Border-Teritary, #d1d5db);
  background: white;
  transition: 0.5s;

  &:hover {
    box-shadow: 2px 2px 10px #bbc4e6;
  }

  .BatchInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    p {
      color: #374151;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      line-height: 26px;
      letter-spacing: 0px;
    }

    h1 {
      color: #111827;
      font-size: var(--FontSize-Display-D2, 48px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--LineHeight-Display-D2, 56px);
      letter-spacing: var(--LetterSpacing-Display-D2, -2px);

      span {
        color: #2540ae;
        font-size: var(--FontSize-Display-D2, 48px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--LineHeight-Display-D2, 56px);
        letter-spacing: var(--LetterSpacing-Display-D2, -1px);
      }
      color: #2540ae;

      @media #{$xs} {
        color: #111827;
        font-size: var(--FontSize-Display-D2, 40px);
        font-weight: 700;
        line-height: var(--LineHeight-Display-D2, 48px);

        span {
          color: var(--Text-Highlited-Primary, #2540ae);
          font-size: var(--FontSize-Display-D2, 40px);
          font-weight: 700;
          line-height: var(--LineHeight-Display-D2, 48px); /* 120% */
        }
        color: #2540ae;
      }
    }
  }
  .datesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    .trash {
      .icon {
        color: #9ca9bc;
        transition: 0.5s;
        &:hover {
          color: red;
        }
      }
    }
    p {
      color: #374151;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
    }

    .Dates {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 8px;
      align-self: stretch;
      flex-wrap: wrap;

      .dateContainer {
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: var(--BorderRadius-XXlg, 16px);
        background: var(--Surface-Secondary, #f9fafb);

        p {
          color: #5166be;
          font-size: var(--FontSize-Body-Sm, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--LineHeight-Body-Sm, 22px); /* 157.143% */
          letter-spacing: var(--LetterSpacing-Body-Sm, 0px);
          margin-bottom: 0rem;

          @media #{$xs} {
            font-size: var(--FontSize-Body-Sm, 12px);
          }
        }
      }
    }
  }

  a {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;

    button {
      padding: 12px 20px;
      background: #2540ae;
      border: none;
      border-radius: 8px;
      color: #fff;
      transition: 0.5s;
      padding: 12px 24px;
      &:hover {
        background: #1a2d7c;
      }
    }
  }
}
