@use "../../assets/sass/index.scss" as *;

.faq_banner {
  padding: 40px 0px;
  margin-top: 80px;
  h1 {
    @include heading_h1;
    color: $text_highlited_primary;

    @media #{$xs} {
      @include heading_H1_display_small;
      color: $text_highlited_primary;
    }
  }
  p {
    @include belowHeading_p;
    padding: 0px;
    text-align: center;
  }
  .faq_content {
    padding-top: 80px;

    @media #{$xs} {
      padding-top: 40px;
    }
    .accordion {
      background-color: $surface_secondary;
      border-radius: 48px;
      padding: 96px;
      display: flex;
      flex-direction: column;

      gap: 10px;
      width: 100%;

      @media #{$md} {
        padding: 24px;
      }

      @media #{$xs} {
        padding: 8px;
      }
    }

    .accordion__item {
      padding: 20px;
      overflow: hidden;
      border-radius: 16px;
      background: var(--Surface-Primary, #fff);
      box-shadow: 0px 6px 15px -2px rgba(16, 27, 73, 0.08),
        0px 6px 15px -2px rgba(16, 27, 73, 0.08);
    }

    .accordion__header {
      font-size: 18px;
      line-height: 26px;
      padding: 8px;
      font-weight: 600;
      cursor: pointer;
      position: relative;

      @media #{$xs} {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }

      &::after {
        content: "";
        background: url(https://www.svgrepo.com/show/357035/angle-down.svg)
          no-repeat center;
        width: 20px;
        height: 20px;
        transition: 0.4s;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
      }

      &.active::after {
        transform: rotateX(180deg);
      }
    }

    .accordion__item .accordion__content {
      padding: 0 25px;
      max-height: 0;
      transition: 0.5s;
      overflow: hidden;

      p {
        @include p18;
        font-size: 16px;
        text-align: start;
      }
    }
  }
}
